Hey there GiftShop Admin,

Here are the stocks that are running low:

Product Name ----> Stock to order

<% @stock_alerts.each do |s| %>
  <%= s.product.name %> -----> <%= (s.product.quantity_in_stock - s.average_2_wk_sale) %>
<% end %>