%h1 
  %a.btn{:href => root_path} ‹ Back
  Detailed Report for #{Time.at(@month.to_i).strftime("%b %Y")}
%hr/
%table.table.table-hover.table-striped.table-condensed
  %tr
    %th Product
    %th= sortable_link "items"
    %th= sortable_link "revenue"

  - @detailed_report.each do |item|
    %tr
      %td= item.product_name
      %td= item.items
      %td= number_to_currency(item.revenue)