%h1 
  Monthly Report
  %small
    Last Updated:
    = time_ago_in_words(Time.at(MonthlyReport.last_ran_at_unix)) + " ago." rescue "Never"
%table.table.table-hover.table-striped.table-condensed
  %tr
    %th Month
    %th Sales
    %th= sortable_link "items"
    %th= sortable_link "revenue"

  - @monthly_report.each do |item|
    %tr
      %td= link_to Time.at(item.month).strftime("%b %Y"), detailed_report_path({:month => item.month})
      %td= item.sales
      %td= item.items
      %td= number_to_currency(item.revenue)