!!!
%html
  %head
    %title Flippa
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = render "layouts/navbar"
      = yield
